

section{

    width: 100%;
    padding: 100px 150px;

}

.section_g{

    background-color: #009944 ;

}

.section_g a,.section_g a p{

    color: #F8F8F8;

}

/* 마스크 버전 */
.cover {

  mask-image: linear-gradient(#1d1d1d);

}

.main_img{

    background-color:#DBDBDB;

}

    .sleid_wrap{

        display: flex;
        align-items: center;
        position: relative;
        /* justify-content: space-around;
        gap: 7px; */

    }

    .slid_der_wrap{

        padding: 7px;
        display: flex;
         gap: 7px;
      
    }

    .slid_der{

        width: 20px;
        height: 5px;
        border-radius: 5px;
        background-color: #F8F8F850;
    }

    .sleid_wrap_1 .arrow{

        background-color: #F8F8F8;

    }

    .left_arrow{

        transform: rotatez(90deg);

    }

    .right_arrow{

        transform: rotatez(-90deg);

    }

    .but_bg{

        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        background-color: #1d1d1d50;
         
          border-radius: 20px;

    }

    button{

        border-radius: 7px;

    }


/* ------가로------- */

.width_100{

    width: 100%;
}

.width_80{

  width: 80%;   


}

.width_30{

  width: 30%;   

}

.width_25{

    width: 25%;
}

.width_20{

    width: 20%;
}

.width_10{

    width: 10%;
}

/* ------세로------ */

.max_height_50{

    max-height: 50%;
}

.max_height_80{

    max-height: 80%;
}

/* ------위치------- */

.flex{

    display: flex;
}

.column{

    display: flex;
    flex-direction: column;

}

.row{

    display: flex;
    flex-direction:row;
    margin: 0;
}

.justify_center{

    justify-content: center;
}

.justify_between{

    justify-content: space-between;
    
}

.items_end{

    align-items: end;
}

.align_center{

    align-items: center;
}

/* ---------글자---------- */

.text-left{

    text-align: left;

}

.text-center{

    text-align: center;
}

.text-nowrap{

    white-space: nowrap;
}

/* --------position--------- */


.relative{

    position: relative;
}

.absolute{

    position: absolute;

}

.z_20{

    z-index: 20;
}

.z_10{

    z-index: 10;
}

/* -------margin-------- */

.margin-top_10{

    margin-top: 10px;
}

.margin-left_150{

    margin-left: 150px;

}

.margin-right_150{

    margin-right: 150px;
}

/* -----아이콘------ */

svg{

    width: 24px;
    height: 24px;
    fill:currentColor;
    transition: transform 0.25s ease;
    flex-shrink: 0;

}

.but_bg{

    display: flex;
    border-radius: 999px;
    padding: 4px 6px;
    background-color: #1d1d1d50;
    align-items: center;
    justify-content: center;
}

.arrow{

    width: 24px;
    height: 24px;
    display: inline-block;
    flex: 0 0 14px;
    flex-shrink: 0;

    padding: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/down-arrow.svg");
    mask-image: url("../img/icon/down-arrow.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;


    transition: transform 0.25s ease;

}

.search_ion{

    width: 24px;
    height: 24px;
    padding: 4px;
    display: inline-block;
    flex: 0 0 14px;
    flex-shrink: 0;

    -webkit-mask-image: url("../img/icon/search_157958.svg");
    mask-image: url("../img/icon/search_157958.svg");


    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    background-color: #1d1d1d;


}

.cancel{

    width: 24px;
    height: 24px;
    padding: 4px;
    display: inline-block;
    flex: 0 0 14px;
    flex-shrink: 0;

        -webkit-mask-image: url("../img/icon/cancel_447047.svg");
    mask-image: url("../img/icon/cancel_447047.svg");


    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    background-color: #1d1d1d;


}

.play_but{

    width: 24px;
    height: 24px;
    padding: 4px;
    display: inline-block;
    flex: 0 0 14px;
    flex-shrink: 0;

    -webkit-mask-image: url("../img/icon/play_8472251.svg");
    mask-image: url("../img/icon/play_8472251.svg");


    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    background-color: #f8f8f8;


}

.stop_but{

    width: 24px;
    height: 24px;
    padding: 4px;
    display: inline-block;
    flex: 0 0 14px;
    flex-shrink: 0;

    -webkit-mask-image: url("../img/icon/pause_11570812.svg");
    mask-image: url("../img/icon/pause_11570812.svg");

   -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;

    background-color: #f8f8f8ff;

}