
  
    html,
    body,
    button,
    input,
    textarea,
    select{

        font-family: "Pretendard", sans-serif;

    }

    h1,h2,h3,h4,p,a{

        font-family: "Pretendard", sans-serif;
        letter-spacing: -0.04em; /* 현재 폰트 크기의 4%만큼 넓힘 */
        line-height: 1.5;
        color: #1d1d1d;

    }

    a{

        text-decoration: none;
        fill:currentColor;
        color: inherit;

    }

    h2{

        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.1;
        
    }

    h3{

        font-size: 19px;
        font-weight: 700;
    }

    .f8f8f8{

        color: #F8F8F8;

    }

    p{

        font-size: 21px;
        font-weight: 500;
        line-height: 1.3;
        color: inherit;

    }

    body{

        width: 100%;
        /* width: 1920px; */

        margin: 0 auto;
        max-width: 1920px;


    }

    .tit_wrap{

        color: #1d1d1d;

    }

    .tit_wrap_senter{

        text-align: center;
    }

    .tit_wrap p {

        color: #1d1d1d;
        font-weight: 600;
    }
    

@media (max-width: 1023px) {

    h2{

    font-size: 32px;

    }

    p{

        font-size: 16px;
    }

}

@media (max-width:480px){

        h2{

    font-size: 25px;

    }

    p{

        font-size: 14px;
    }


}

/* ------폰트규칙--------- */

section{

    width: 100%;
    height: 100%;
    max-height: 700px;
    padding: 100px 150px;
    
    display: flex;
    gap: 40px;

}

.section_g{

    background-color: #009944 ;

}

.section_g a,.section_g a p{

    color: #F8F8F8;

}

@media (max-width: 1023px) {


    section{

        padding: 20px 40px;
    }
    
}


@media (max-width:480px){

    section{

        padding: 0 20px;

    }

}

/* 마스크 버전 */

.cover {

  mask-image: linear-gradient(#1d1d1d50);

}

 /* -------임시 박스---------- */

.con{

    display: flex;
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 999px;
    background-color: #f2f2f2;

}

.box_wrap{

    width: 100%;
    display: flex;
    gap: 16px;

}

.box{

    width: 50%;
    color: #8E8E8E;
    border: solid 2px #C6C6C6;

    padding: 16px 24px ;
    border-radius: 20px;
}

.box_3and2{

    aspect-ratio: 2 / 3;
}

.box_2and2{

    aspect-ratio: 2 / 2;
}

.flx_li{

    display: flex;
}

.tit_li{

    display: flex;
    align-items: center;
    gap: 4px;
}

/* ------------ 이미지 위치 조정용-------------- */

.focus_left {

    object-position: left center;
}

.focus_right {

    object-position: right center;
}

.focus_top {

    object-position: center top;
}

.focus_left {

    object-position: left center;
}

.focus_right {

    object-position: right center;
}


/* --------플랙스--------- */

.flex{

    display: flex;
}

.column{

    flex-direction: column;
}


/* -----아이콘------ */

svg{

    width: 24px;
     aspect-ratio: 1 / 1;
    fill:currentColor;
    transition: transform 0.25s ease;
    flex-shrink: 0;

}

.icon{

    width: 24px;
    aspect-ratio: 1 / 1;
   
}

.but_bg{

    display: flex;
    border-radius: 999px;
    padding: 4px 6px;
    background-color: #1d1d1d50;
    color: #f2f2f2;
    align-items: center;
    justify-content: center;
}


@media (max-width:480px){

    .but_bg_none{

        display: none;

    }

}


.arrow{

    width: 24px;
    height: 24px;
    display: inline-block;
    flex: 0 0 14px;
    flex-shrink: 0;

    padding: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/down-arrow.svg");
    mask-image: url("../img/icon/down-arrow.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;


    transition: transform 0.25s ease;

}

.factory{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/factory.svg");
    mask-image: url("../img/icon/factory.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;


    transition: transform 0.25s ease;

}

.carpet{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/carpet.svg");
    mask-image: url("../img/icon/carpet.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}

.doctor{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/doctor.svg");
    mask-image: url("../img/icon/doctor.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}

.water_tower{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/water-tower.svg");
    mask-image: url("../img/icon/water-tower.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;


}

.cleaner{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/cleaner.svg");
    mask-image: url("../img/icon/cleaner.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}

.bird_spike{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/bird-spike.svg");
    mask-image: url("../img/icon/bird-spike.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}

.brick_wall{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/brick-wall.svg");
    mask-image: url("../img/icon/brick-wall.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}

.search_ion{

    padding: 4px;
    display: inline-block;
    flex: 0 0 14px;
    flex-shrink: 0;

    -webkit-mask-image: url("../img/icon/search.svg");
    mask-image: url("../img/icon/search.svg");


    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    background-color: #1d1d1d;

    transition: transform 0.25s ease;

}

.cancel{

    width: 24px;
    height: 24px;
    padding: 4px;
    display: inline-block;
    flex: 0 0 14px;
    flex-shrink: 0;

    -webkit-mask-image: url("../img/icon/cancel.svg");
    mask-image: url("../img/icon/cancel.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    background-color: #1d1d1d;

}

.opera{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/opera.svg");
    mask-image: url("../img/icon/opera.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}

.ship{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/ship.svg");
    mask-image: url("../img/icon/ship.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}


.soap_ottle{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/soap-bottle.svg");
    mask-image: url("../img/icon/soap-bottle.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}

.greek{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/greek.svg");
    mask-image: url("../img/icon/greek.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}

.user{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/user.svg");
    mask-image: url("../img/icon/user.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;

}

.pond{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/pond.svg");
    mask-image: url("../img/icon/pond.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.25s ease;


}

.arrow_up_right{

        display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/arrow-up-right.svg");
    mask-image: url("../img/icon/arrow-up-right.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;


    
}

.calendar{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/calendar.svg");
    mask-image: url("../img/icon/calendar.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

}

.pen{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/pen.svg");
    mask-image: url("../img/icon/pen.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

}

.party{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/party.svg");
    mask-image: url("../img/icon/party.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

}

.call_center{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/call-center.svg");
    mask-image: url("../img/icon/call-center.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;
}

.question_answer{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/question-answer.svg");
    mask-image: url("../img/icon/question-answer.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;
}
.contract{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/contract.svg");
    mask-image: url("../img/icon/contract.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;
}

/* .contract:hover{

    -webkit-mask-image: url("../img/icon/contract_blak.svg");
    mask-image: url("../img/icon/contract_blak.svg");
    background-color: #009944;
    
} */

.megaphone{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/megaphone.svg");
    mask-image: url("../img/icon/megaphone.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;
}

.info{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/info.svg");
    mask-image: url("../img/icon/info.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;
}

.storage{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/storage.svg");
    mask-image: url("../img/icon/storage.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

}

.office{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/office.svg");
    mask-image: url("../img/icon/office.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;


    

}

.pipeline{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/pipeline.svg");
    mask-image: url("../img/icon/pipeline.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;
}

.gears{
    
    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/gears.svg");
    mask-image: url("../img/icon/gears.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;
}

.gas_heater{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/gas-heater.svg");
    mask-image: url("../img/icon/gas-heater.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;
}


/* -------------효과--------------- */


/* 공장 환경 개선 */

.Factory_Environmental_Improvement{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/Factory_Environmental_Improvement.svg");
    mask-image: url("../img/icon/Factory_Environmental_Improvement.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;

}

/* 안전사고 예방 */

.Safety_accident_prevention{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/Safety-accident-prevention.svg");
    mask-image: url("../img/icon/Safety-accident-prevention.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;


}

.Increase_work_efficiency{

    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;

    background-color: #1d1d1d;

    -webkit-mask-image: url("../img/icon/Increase-work-efficiency.svg");
    mask-image: url("../img/icon/Increase-work-efficiency.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-size: contain;
    mask-size: contain;


}



/* -------아이콘 끝--------- */

.slide_toggle {

    position: relative;

    width: 24px;
    height: 24px;
    padding: 0;

    border: 0;
    border-radius: 50%;

    background: transparent;
    cursor: pointer;
}


    @keyframes clientSlideRight {
        from {
            transform: translateX(-50%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes clientSlideLeft {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }