

section{

    width: 100%;
    padding: 100px 150px;

}

.section_g{

    background-color: #009944 ;

}

.section_g a,.section_g a p{

        color: #F8F8F8;

}

/* ---- 슬라이드 ----- */

.wrap{

    width: 100%;
    height: 600px;
    position: relative;

}

.img_wrap{

    width: 5760px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
}

.bg{

    width: 1920px;
}

.bg_img_wrap{

    width: 100%;
    display: flex;

}



.main_img{

    background-color:#DBDBDB;

}

    /* background-image: calc(); */




/* ------가로------- */

.width_100{

    width: 100%;
}

.width_80{

  width: 80%;   


}

.width_30{

  width: 30%;   

}

.width_25{

    width: 25%;
}

.width_20{

    width: 20%;
}

.width_10{

    width: 10%;
}

/* ------세로------ */

.max_height_50{

    max-height: 50%;
}

.max_height_80{

    max-height: 80%;
}

/* ------위치------- */

.flex{

    display: flex;
}

.column{

    display: flex;
    flex-direction: column;


}

.row{

    display: flex;
    flex-direction:row;

    margin: 0;
}

.justify_center{

    justify-content: center;
}

.justify_between{

    justify-content: space-between;
    
}

.items_end{

    align-items: end;
}

.align_center{

    align-items: center;
}

/* ---------글자---------- */

.text-left{

    text-align: left;

}

.text-center{

    text-align: center;
}

.text-nowrap{

    white-space: nowrap;
}

/* --------position--------- */


.relative{

    position: relative;
}

.absolute{

    position: absolute;

}

.z_20{

    z-index: 20;
}

.z_10{

    z-index: 10;
}

/* -------margin-------- */

.margin-top_10{

    margin-top: 10px;
}

.margin-left_150{

    margin-left: 150px;

}

.margin-right_150{

    margin-right: 150px;
}

/* -----아이콘------ */

svg{

    width: 24px;
    height: 24px;
    fill:currentColor;
    transition: transform 0.25s ease;
    flex-shrink: 0;

}





