


header{

    width: 100%;
    max-width: 1920px;
}

.hed_wrap{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usm{

    width: 30%;
    display: flex;
    align-items: center;
}


.logo{

    width: 162px;
    height:45px;
}