<!-- TEST-HEADER-20260709 -->
<!-- DESKTOP-HEADER-TEST-999 -->

<footer class="footer"> 

    <div class="footer_wrap">

                    <!-- -------------로고--------- -->
        <div class="logo">
            <img src="/img/logo.svg" alt="(주)그린죤 (주)그린죤_로고">
        </div>

        <div class="footer_menu_wrap">

            <ul class="footer_menu column">
                <!-- --------- 약관---------- -->

                    <li>

                        <a href="#"><p>이용약관</p></a>
                        <a href="#"><p>개인정보처리방침</p></a>

                    </li>

                    <!-- ----------회사정보----------- -->

                    <li>    <p> 대표:김세진</p>  </li>

                    <li>
                                
                        <p>대표번호:1899-1367</p>
                        <p>주소-21-050 경상남도 김해시 전하로 191</p>
                        <p>사업자등록번호:122-25-12885</p>
                        <p>팩스:055-337-0060</p>

                    </li>
            </ul>

            <ul class="footer_menu" >

                <li>

                    <ul class=" footer_menu_in" >

                        <li>
                            <a href="#" class="footer_li">

                                <p>기업 소개</p>
                                <span class="arrow right_arrow" aria-hidden="true"></span>
                            
                            </a>
                        
                        </li>

                        <li>

                            <a href="#" class="footer_li">

                                <p>기업정보</p>
                                <span class="arrow right_arrow" aria-hidden="true"></span>

                            </a>

                        </li> 

                        <li>

                            <a href="#" class="footer_li">

                                <p>허가 및 인증서</p>
                                <span class="arrow right_arrow" aria-hidden="true"></span>

                            </a>
                        </li>

                    </ul>
                </li>

                <li class=" footer_menu_in">

                    <a href="#" class="footer_li">

                        <p>위생관리 용역업</p>
                        <span class="arrow right_arrow" aria-hidden="true"></span>

                    </a>

                    <a href="#" class="footer_li">

                        <p>소독업</p>
                        <span class="arrow right_arrow" aria-hidden="true"></span>

                    </a>

                    <a href="#" class="footer_li">
                        <p>저수조 청소업</p>
                        <span class="arrow right_arrow" aria-hidden="true"></span>
                    </a>

                    <!-- <a href="#" class="footer_li">
                        <p>교육산업</p>
                        <span class="arrow right_arrow" aria-hidden="true"></span>
                    </a> -->

                </li>

                <li class=" footer_menu_in">

                    <a href="" class="footer_li">
                        <p>작업 갤러리</p>
                        <span class="arrow right_arrow" aria-hidden="true"></span>
                    </a>

                    <a href="" class="footer_li">
                        <p>작업 일정</p>
                        <span class="arrow right_arrow" aria-hidden="true"></span>
                    </a>

                    <a href="" class="footer_li">

                        <p>커뮤니티</p>
                        <span class="arrow right_arrow" aria-hidden="true"></span>

                    </a>

                </li>

            </ul>

            <ul class="footer_menu column">

                <li class="footer_li_2">
                    <p>김해본점</p><p>055-337-8866</p>
                </li>
                <li class="footer_li_2">
                    <p>부산지점</p><p>051-364-0113</p>
                </li>
                <li class="footer_li_2">
                    <p>양산지점</p><p>055-367-0116</p>
                </li>
                <li class="footer_li_2">
                    <p>창원지점</p><p>055-267-0119</p>
                </li>

            </ul>

        </div>

    </div>

    <div class="footer_wrap">

        <ul class="footer_menu footer_menu_2">


            <li>

                <a href="https://m.blog.naver.com/qwe220022">
                    
                    <img src="/img/icon/naver_blog.svg" alt="instagram">
                
                </a>

            </li>
            
            <li>

                <div class=" instagram">

                    <a href="https://www.instagram.com/green_zone__clean_story/">
                        <img src="/img/icon/instagram.svg" alt="instagram">
                    </a>

                </div>

            </li>


            <li>
            
                <div class=" facebook">
                    <a href="https://www.facebook.com/profile.php?id=61582863490599">
                        <img src="/img/icon/facebook.svg" alt="facebook">

                    </a>
                </div>

            </li>

            <li>

                <div class=" youtube">
                    <a href="https://www.youtube.com/@TV-ls8gv">
                        <span class=" icon youtube"></span>
                    </a>
                </div>

            </li>

        </ul>

        <ul class="footer_menu_3">

            <li><p>© 2026 Green zone. All Rights Reserved</p></li>
            <li class="flex"><p>작업 이미지 및 영상 제외</p><span class="freepik"></span><p>무료 이미지 및 아이콘 할용</p></li> 

        </ul>

    </div>


</footer>
    
