<footer>

    <div class="footer_inner">


        <!-- =================================================
             로고
        ================================================== -->

   

            <a href="/index.html">

                <span class=" icon logo footer_logo"></span>

            </a>

      



        <!-- =================================================
             모바일용 주요 메뉴
             PC에서는 숨김
        ================================================== -->

        <nav class="footer_nav" aria-label="푸터 주요 메뉴">

            <a href="/sub_page/Introduction/Introduction_main.html">
                기업소개
                <span class="arrow right_arrow" aria-hidden="true"></span>
            </a>

            <a href="/sub_page/Factory_cleane/Factory_man.html">
                위생관리 용역업
                <span class="arrow right_arrow" aria-hidden="true"></span>
            </a>

            <a href="/sub_page/Disinfection/Disinfection.html">
                소독업
                <span class="arrow right_arrow" aria-hidden="true"></span>
            </a>

            <a href="/sub_page/Gallery/Work_gallery.html">
                작업 갤러리
                <span class="arrow right_arrow" aria-hidden="true"></span>
            </a>

            <a href="/sub_page/Community/Notice.html">
                커뮤니티
                <span class="arrow right_arrow" aria-hidden="true"></span>
            </a>

        </nav>



        <!-- =================================================
             회사 정보
        ================================================== -->

        <div class="footer_company">

            <p>대표 : 김세진</p>

            <p>대표번호 : 1899-1367</p>

            <p>주소 : 21-050 경상남도 김해시 전하로 191</p>

            <p>사업자등록번호 : 122-25-12885</p>

            <p>팩스 : 055-337-0060</p>

        </div>



        <!-- =================================================
             PC용 상세 메뉴
        ================================================== -->

        <nav class="footer_sub_nav" aria-label="푸터 상세 메뉴">


            <!-- 기업 -->

            <ul>

                <li>

                    <a href="#">

                        기업 소개

                        <span
                            class="arrow right_arrow"
                            aria-hidden="true">
                        </span>

                    </a>

                </li>


                <li>

                    <a href="#">

                        기업정보

                        <span
                            class="arrow right_arrow"
                            aria-hidden="true">
                        </span>

                    </a>

                </li>


                <li>

                    <a href="#">

                        허가 및 인증서

                        <span
                            class="arrow right_arrow"
                            aria-hidden="true">
                        </span>

                    </a>

                </li>

            </ul>



            <!-- 사업 -->

            <ul>

                <li>

                    <a href="#">

                        위생관리 용역업

                        <span
                            class="arrow right_arrow"
                            aria-hidden="true">
                        </span>

                    </a>

                </li>


                <li>

                    <a href="#">

                        소독업

                        <span
                            class="arrow right_arrow"
                            aria-hidden="true">
                        </span>

                    </a>

                </li>


                <li>

                    <a href="#">

                        저수조 청소업

                        <span
                            class="arrow right_arrow"
                            aria-hidden="true">
                        </span>

                    </a>

                </li>

            </ul>



            <!-- 커뮤니티 -->

            <ul>

                <li>

                    <a href="/sub_page/Gallery/Work_gallery.html">

                        작업 갤러리

                        <span
                            class="arrow right_arrow"
                            aria-hidden="true">
                        </span>

                    </a>

                </li>


                <li>

                    <a href="/sub_page/Community/Schedule.html">

                        작업 일정

                        <span
                            class="arrow right_arrow"
                            aria-hidden="true">
                        </span>

                    </a>

                </li>


                <li>

                    <a href="/sub_page/Community/Notice.html">

                        커뮤니티

                        <span
                            class="arrow right_arrow"
                            aria-hidden="true">
                        </span>

                    </a>

                </li>

            </ul>

        </nav>



        <!-- =================================================
             지점 연락처
        ================================================== -->

        <ul class="footer_branch">

            <li>

                <span>김해본점</span>

                <a href="tel:0553378866">
                    055-337-8866
                </a>

            </li>


            <li>

                <span>부산지점</span>

                <a href="tel:0513640113">
                    051-364-0113
                </a>

            </li>


            <li>

                <span>양산지점</span>

                <a href="tel:0553670116">
                    055-367-0116
                </a>

            </li>


            <li>

                <span>창원지점</span>

                <a href="tel:0552670119">
                    055-267-0119
                </a>

            </li>

        </ul>



        <!-- =================================================
             SNS
        ================================================== -->

        <ul class="footer_sns">


            <li>

                <a
                    href="https://m.blog.naver.com/qwe220022"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="네이버 블로그">

                    <span class="icon Naver_blog" 
                     aria-hidden="true">
                    </span>
                </a>

            </li>


            <li>

                <a
                    href="https://www.instagram.com/green_zone__clean_story/"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="인스타그램">

                    <span class="icon instagram" 
                     aria-hidden="true">
                    </span>

                </a>

            </li>


            <li>

                <a
                    href="https://www.facebook.com/profile.php?id=61582863490599"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="페이스북">

                    <span class="icon facebook" 
                     aria-hidden="true">
                    </span>


                </a>

            </li>


            <li>

                <a
                    href="https://www.youtube.com/@TV-ls8gv"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="유튜브">

                    <span
                        class="icon youtube"
                        aria-hidden="true">
                    </span>

                </a>

            </li>

        </ul>



        <!-- =================================================
             약관
        ================================================== -->

        <div class="footer_policy">

            <a href="#">
                이용약관
            </a>

            <a href="#">
                개인정보처리방침
            </a>

        </div>



        <!-- =================================================
             COPYRIGHT
        ================================================== -->

        <div class="footer_copy">

            <p>
                Copyright © 2026 Green zone. All rights reserved.
            </p>

            <p class="footer_freepik">

                <span>
                    작업 이미지 및 영상 제외
                </span>

                <span
                    class="freepik"
                    aria-hidden="true">
                </span>

                <span>
                    무료 이미지 및 아이콘 활용
                </span>

            </p>

        </div>


    </div>

</footer>
