<!-- TEST-HEADER-20260709 -->
<!-- DESKTOP-HEADER-TEST-999 -->

<footer class="footer"> 

    <div class="footer_wrap">

                    <!-- -------------로고--------- -->
        <div class="logo">
            <img src="/img/logo.svg" alt="(주)그린죤 (주)그린죤_로고">
        </div>

        <div class="width_80  row  justify_between">

            <ul class="footer_menu">
                <!-- --------- 약관---------- -->

                    <li>

                        <a href=""><p>이용약관</p></a>
                        <a href=""><p>개인정보처리방침</p></a>

                    </li>

                    <!-- ----------회사정보----------- -->

                    <li>    <p> 대표:김세진</p>  </li>

                    <li>
                                
                        <p>대표번호:1899-1367</p>
                        <p>주소-21-050 경상남도 김해시 전하로 191</p>
                        <p>사업자등록번호:122-25-12885</p>
                        <p>팩스:055-337-0060</p>

                    </li>
            </ul>

            <ul class="footer_menu row width_25 max_height_80 between" >

                <li>

                    <ul>
                        <li class="footer_li">
                            <a href="" class="flex align_center">

                                <p>기업 소개</p>

                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                                    c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                                    C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                                    C255,161.018,253.42,157.202,250.606,154.389z"/>
                                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                </svg>

                            </a>
                        
                        </li>

                        <li><a href=""><p>기업정보</p></a></li> 
                        <li><a href=""><p>허가 및 인증서</p></a></li>

                    </ul>
                </li>

                <li class=" column between">
                    <a href=""><p>위생관리 용역업</p></a>
                    <a href=""><p>소독업</p></a>
                    <a href=""><p>저수조 청소업</p></a>
                    <a href=""><p>교육산업</p></a>
                </li>

                <li class=" column between">
                    <a href=""><p>작업 갤러리</p></a>
                    <a href=""><p>작업 일정</p></a>
                    <a href=""><p>커뮤니티</p></a>
                </li>

            </ul>

            <ul class="footer_menu width_20 max_height_80 column justify_between">

                <li class="flex width_100 flex justify_between">
                    <p>김해본점</p><p>055-337-8866</p>
                </li>
                <li class="flex width_100 flex justify_between">
                    <p>부산지점</p><p>051-364-0113</p>
                </li>
                <li class="flex width_100 flex between">
                    <p>양산지점</p><p>055-367-0116</p>
                </li>
                <li class="flex width_100 flex justify_between">
                    <p>창원지점</p><p>055-267-0119</p>
                </li>

            </ul>

        </div>

    </div>

    <div class="footer_wrap">

        <ul class="footer_menu width_10 flex items_center row justify_between">


            <li>

                <a href="">
                    
                    <div class="icon Naver_Blog">
                        
                    </div>

                </a>

            </li>
            
            <li>

                <div class="icon instagram">

                    <a href="">
                        <img src="/img/instagram_5968776.svg" alt="instagram">
                    </a>

                </div>

            </li>


            <li>
            
                <div class="icon facebook">
                    <a href="">
                        <img src="/img/facebook_5968764.svg" alt="facebook">

                    </a>
                </div>

            </li>

            <li>

                <div class="icon youtube">
                    <a href="">
                        <img src="/img/youtube_5968852.svg" alt="youtube">
                    </a>
                </div>

            </li>

        </ul>

        <ul class="footer_menub column items_end between">
            <li><p>© 2026 Green zone. All Rights Reserved</p></li>
            <li class="flex"><p>작업 이미지 및 영상 제외</p><img class="freepik" src="/img/freepik_14649027.svg" alt="freepik"><p>무료 이미지 및 아이콘 할용</p></li> 

        </ul>

    </div>


</footer>
    
