<nav class="company_tabs" aria-label="기업소개 하위 메뉴">

    <ul>

        <li data-company-group="intro">

            <a href="/sub_page/Introduction/Introduction_main.html">
                기업소개
            </a>

            <ul>

                <li>
                    <a data-company-page="greeting" href="/sub_page/Introduction/CEO_message.html">
                        대표 인사말
                    </a>
                </li>

                <li>
                    <a data-company-page="location" href="/sub_page/Introduction/Directions.html">
                        찾아오시는 길
                    </a>
                </li>

            </ul>

        </li>

        <li>
            <a href="#">
                기업 정보
            </a>
        </li>

        <li>
            <a href="#">
                허가 및 인증서
            </a>
        </li>

    </ul>

</nav>
