<nav class=" nav">

    <ul class="gnb">

        <!-- ------기업소개------ -->

        <li class="main_menu">

            <a href="/sub_page/Introduction/Introduction_main.html" class="main_tit">

                기업소개

                <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="/sub_page/Introduction/Introduction_main.html" class="depth_2_tit">

                        기업소개

                    <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="/sub_page/Introduction/CEO_message.html">대표 인사말</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Introduction/Directions.html">찾아오시는 길</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Introduction/Company_history.html" class="depth_2_tit">

                        기업 정보

                        <span class=" arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="/sub_page/Introduction/Company_history.html">회사 연혁</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Introduction/Branches.html">각 지점 정보</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Introduction/Certificates.html" class="depth_2_tit">

                        허가 및 인증서

                    <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="/sub_page/Introduction/Awards.html">수상내역</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Introduction/Clients.html">협력/거래처</a></li>

                    </ul>

                </li>
            
            </ul>

        </li>

        <!-- ------위생관리 용역업------ -->
          
        <li class="main_menu">

            <a href="/sub_page/Factory_cleane/Factory_man.html" class="main_tit">

            위생관리 용역업

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="/sub_page/Factory_cleane/Factory_man.html" class="depth_2_tit">

                        공장청소
                        <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit">

                            <a href="/sub_page/Factory_cleane/Factory_equipment_cleane.html">

                                기계설비 청소

                            </a>

                        </li>

                        <li class="depth_3_tit">

                            <a href="/sub_page/Factory_cleane/Equipment_painting.html">

                                공장 설비도색

                            </a>

                        </li>

                        <li class="depth_3_tit">

                            <a href="/sub_page/Factory_cleane/Factory_line.html">
                                
                                공장 라인 청소
                            
                            </a>

                        </li>

                        <li class="depth_3_tit">

                            <a href="/sub_page/Factory_cleane/Factory_floor.html">

                                공장 바닥 청소

                            </a>

                        </li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Carpet_Fabric/Carpet_cleaning.html" class="depth_2_tit">

                       카펫 청소

                       <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit">

                            <a href="/sub_page/Carpet_Fabric/Carpet_cleaning.html">카펫 청소</a>
                        
                        </li>

                        <li class="depth_3_tit">

                            <a href="/sub_page/Carpet_Fabric/Fabric_cleaning.html">페트릭</a>
                        
                        </li>

                    </ul>

                </li>

                
                <li class="depth_2">

                    <a href="/sub_page/Wax/Wax_coating.html" class="depth_2_tit">

                       왁스 작업

                    </a>

                </li>


                <li class="depth_2">

                    <a href="/sub_page/Bird/Bird_control.html" class="depth_2_tit">

                        비둘기 퇴치

                    </a>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Event_cleane/City_event.html" class="depth_2_tit">

                       행사 청소

                       <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="/sub_page/Event_cleane/City_event.html">시/도 행사 청소</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Event_cleane/Exhibition.html">전시회 청소</a></li>  
                        <li class="depth_3_tit"><a href="/sub_page/Event_cleane/Stadium.html">경기장 청소</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Event_cleane/Seasonal.html">계절 청소</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Ship/Ship.html" class="depth_2_tit">

                     선박

                     <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="/sub_page/Ship/Ship.html">시 선박</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Ship/Cruise.html">유람선</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Ship/Naval.html">군함</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Exterior/Commercial.html" class="depth_2_tit">

                     외벽 청소

                     <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="/sub_page/Exterior/Commercial.html">상가건물 외벽</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Exterior/Office.html">사무실 외벽</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Exterior/Government.html">관공서 외벽</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Exterior/Factory.html">공장 외벽</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Exterior/Facility.html">외벽 시설물</a></li>

                    </ul>

                </li>

                
                <li class="depth_2">

                    <a href="/sub_page/Facility/Statue.html" class="depth_2_tit">

                     시설물 관리

                     <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="/sub_page/Facility/Statue.html">동상/조형물</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Facility/Bridge.html">교각</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Facility/Rust_removal.html">녹 제거</a></li>
                        <li class="depth_3_tit"><a href="/sub_page/Facility/Tunnel.html">터널</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Dispatch/Dispatch.html" class="depth_2_tit">

                     미화원 파견
                     
                    </a>

                </li>
            
            
            </ul>

        </li>

        <!-- ------저수조 청소업------ -->

        <li class="main_menu">

            <a href="/sub_page/Water_tank/Pond.html" class="main_tit">

            저수조 청소업

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="/sub_page/Water_tank/Pond.html" class="depth_2_tit">

                    연못 청소

                    </a>


                </li>

                <li class="depth_2">

                    <a href="/sub_page/Water_tank/Water_tank.html" class="depth_2_tit">

                        저수조 청소

                    </a>

                </li>

                </ul>

        </li>       
            
        <!-- ------소독업------ -->

        <li class="main_menu">

            <a href="/sub_page/Disinfection/Disinfection.html" class="main_tit">

            소독업

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="/sub_page/Disinfection/Disinfection.html" class="depth_2_tit">

                    소독

                    </a>


                </li>

                <li class="depth_2">

                    <a href="/sub_page/Disinfection/Quarantine.html" class="depth_2_tit">

                        방역
                    </a>

                </li>

            
            
            </ul>

        </li>

        <!-- ------갤러리------ -->

        <li class="main_menu">

            <a href="/sub_page/Gallery/Work_gallery.html" class="main_tit">

            갤러리

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="/sub_page/Gallery/Work_gallery.html" class="depth_2_tit">

                    작업 갤러리

                    </a>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Gallery/Video_gallery.html" class="depth_2_tit">

                    작업 동영상

                    </a>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Gallery/Event_gallery.html" class="depth_2_tit">

                    행사사진
                   
                    </a>

                </li>
            
            </ul>

        </li>

        <!-- ------커뮤니티------ -->

        <li class="main_menu">

            <a href="/sub_page/Community/Notice.html" class="main_tit">

            커뮤니티

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="/sub_page/Community/Notice.html" class="depth_2_tit">

                    공지사항

                    </a>


                </li>

                <li class="depth_2">

                    <a href="/sub_page/Community/Schedule.html" class="depth_2_tit">

                        작업일정

                    </a>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Community/Event.html" class="depth_2_tit">

                   이벤트

                    </a>


                </li>


                <li class="depth_2">

                    <a href="/sub_page/Community/Information.html" class="depth_2_tit">

                   정보공유

                    </a>


                </li>
                
                <li class="depth_2">

                    <a href="/sub_page/Community/FAQ.html" class="depth_2_tit">

                   자주하는 질문

                    </a>


                </li>

                <li class="depth_2">

                    <a href="/sub_page/Community/Reviews.html" class="depth_2_tit">

                   이용후기

                    </a>


                </li>
            
            </ul>

        </li>

    </ul>

<!-- =========================================
     모바일 전체 메뉴 페이지
========================================= -->

<div class="mobile_menu" id="mobile_menu">

    <!-- ===============================
         사용자 정보
    ================================ -->

    <section class="mobile_user_area">

        <div class="mobile_user_inner">

            <div class="mobile_user_text">
                <strong data-auth-user-name>그린죤 방문자</strong>
            </div>

            <!-- 프로필 이미지 자리 -->
            <a class="mobile_profile_image" data-auth-link href="/user_page/Login.html" aria-label="로그인">
                <span class="icon login" data-auth-icon aria-hidden="true"></span>
            </a>

        </div>

    </section>


    <!-- ===============================
         사용자 메뉴
    ================================ -->

    <nav class="mobile_quick_menu">

        <a href="/user_page/user_Profile_page.html" class="mobile_quick_item" data-auth-link>

            <div class="mobile_quick_left">

                <span class="mobile_icon mobile_setting_icon">
                    <!-- 설정 아이콘 -->
                </span>

                <span>설정</span>

            </div>

            <span class="mobile_icon arrow right_arrow_2"></span>

        </a>


        <a href="/user_page/user_Profile_page.html" class="mobile_quick_item" data-auth-link>

            <div class="mobile_quick_left">

                <span class="mobile_icon mobile_user_icon">
                    <!-- 내정보 아이콘 -->
                </span>

                <span>내정보</span>

            </div>

             <span class="mobile_icon arrow right_arrow_2"></span>

        </a>


        <a href="tel:18991367" class="mobile_quick_item">

            <div class="mobile_quick_left">

                <span class="mobile_icon mobile_call_center_icon">
                    <!-- 고객센터 아이콘 -->
                </span>

                <span>고객센터</span>

            </div>

            <span class="mobile_icon arrow right_arrow_2"></span>

        </a>

    </nav>


    <!-- ===============================
         일정
    ================================ -->

    <section class="mobile_schedule_area">

        <div class="mobile_schedule_tab">

            <button
                class="mobile_schedule_tab_btn"
                type="button"
                data-schedule-tab="work"
                aria-selected="false"
            >
                작업 일정
            </button>

            <button
                class="mobile_schedule_tab_btn is_active"
                type="button"
                data-schedule-tab="visit"
                aria-selected="true"
            >
                방문 일정
            </button>

        </div>


        <!-- 요일 -->

        <div class="mobile_schedule_week">

            <span class="sunday">일</span>
            <span>월</span>
            <span>화</span>
            <span>수</span>
            <span>목</span>
            <span>금</span>
            <span class="saturday">토</span>

        </div>


        <!-- 일정 카드 -->

        <!-- 기준 날짜가 속한 주부터 2주 일정을 JS에서 만듭니다. -->
        <div
            class="mobile_schedule_cards"
            aria-label="2주 일정"
        ></div>


        <!-- 신청하기 -->

        <a href="/user_page/Online_application.html" class="mobile_schedule_apply">

            <div>

                <span class="mobile_icon mobile_contract_icon">
                    <!-- 신청 아이콘 -->
                </span>

                <strong>신청하기</strong>

            </div>

            <span class="mobile_icon arrow right_arrow_2"></span>

        </a>

    </section>


    <!-- ===============================
         메뉴
    ================================ -->

    <section class="mobile_site_menu">

        <div class="mobile_menu_head">

            <span class="mobile_menu_grid" aria-hidden="true">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>

            <p>메뉴</p>

        </div>


        <div class="mobile_menu_body">

            <!-- 1 DEPTH -->
            <ul
                class="mobile_menu_column mobile_depth_1"
                id="mobile_depth_1"
            ></ul>


            <!-- 2 DEPTH -->
            <ul
                class="mobile_menu_column mobile_depth_2"
                id="mobile_depth_2"
            ></ul>


            <!-- 3 DEPTH -->
            <ul
                class="mobile_menu_column mobile_depth_3"
                id="mobile_depth_3"
            ></ul>

        </div>

    </section>

</div>

</nav>

<nav class="mobile_tab" aria-label="모바일 바로가기 메뉴">
    <a class="mobile_tab_item" href="/index.html" data-tab="home">
        <span class="icon home" aria-hidden="true"></span>
        <span>홈</span>
    </a>

    <a class="mobile_tab_item" href="/user_page/Online_application.html" data-tab="request">
        <span class="icon contract" aria-hidden="true"></span>
        <span>작업문의</span>
    </a>

    <a class="mobile_tab_item" href="/sub_page/Community/Notice.html" data-tab="community">
        <span class="icon speech_bubble" aria-hidden="true"></span>
        <span>커뮤니티</span>
    </a>

    <a class="mobile_tab_item" href="/sub_page/Gallery/Work_gallery.html" data-tab="gallery">
        <span class="icon picture" aria-hidden="true"></span>
        <span>갤러리</span>
    </a>

    <button class="mobile_tab_item mobile_menu_open_btn" type="button"
        aria-label="전체 메뉴 열기" aria-controls="mobile_menu" aria-expanded="false">
        <span class="mobile_menu_icon" aria-hidden="true">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <span>메뉴</span>
    </button>
</nav>


        <!-- 메인 메뉴 끝  -->
