<nav>

    <ul class="gnb">

        <!-- ------기업소개------ -->

        <li class="main_menu">

            <a href="#" class="main_tit">

                기업소개

                <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                        기업소개

                    <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="#">대표 인사말</a></li>
                        <li class="depth_3_tit"><a href="#">찾아오시는 길</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                        기업 정보

                        <span class=" arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="#">회사 연역</a></li>
                        <li class="depth_3_tit"><a href="#">각 지점 정보</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                        허가 및 인증서

                    <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="#">수상내역</a></li>
                        <li class="depth_3_tit"><a href="#">협력/거래처</a></li>

                    </ul>

                </li>
            
            </ul>

        </li>

        <!-- ------위생관리 용역업------ -->
          
        <li class="main_menu">

            <a href="#" class="main_tit">

            위생관리 용역업

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="/sub_page/Factory_cleane/Factory_man.html" class="depth_2_tit">

                        공장청소
                        <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit">

                            <a href="/sub_page/Factory_cleane/Factory_equipment_cleane.html">

                                기계설비 청소

                            </a>

                        </li>

                        <li class="depth_3_tit">

                            <a href="/sub_page/Factory_cleane/Equipment_painting.html">

                                공장 설비도색

                            </a>

                        </li>

                        <li class="depth_3_tit">

                            <a href="/sub_page/Factory_cleane/Factory_line.html">
                                
                                공장 라인 청소
                            
                            </a>

                        </li>

                        <li class="depth_3_tit">

                            <a href="/sub_page/Factory_cleane/Factory_floor.html">

                                공장 바닥 청소

                            </a>

                        </li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="/sub_page/Cleaning/Carpet_cleaning.html" class="depth_2_tit">

                       카펫 청소

                       <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit">

                            <a href="/sub_page/Cleaning/Carpet_cleaning.html">카펫 청소</a>
                        
                        </li>

                        <li class="depth_3_tit">

                            <a href="/sub_page/Cleaning/Fabric_cleaning.html">페브릭</a>
                        
                        </li>

                    </ul>

                </li>

                
                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                       왁스 작업

                    </a>

                </li>


                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                        비둘기 퇴치

                    </a>

                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                       행사 청소

                       <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="#">시/도 행사 청소</a></li>
                        <li class="depth_3_tit"><a href="#">전시회 청소</a></li>  
                        <li class="depth_3_tit"><a href="#">경기장 청소</a></li>
                        <li class="depth_3_tit"><a href="#">계절 청소</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                     선박

                     <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="#">시 선박</a></li>
                        <li class="depth_3_tit"><a href="#">유람선</a></li>
                        <li class="depth_3_tit"><a href="#">군함</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                     외벽 청소

                     <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="#">상가건물 외벽</a></li>
                        <li class="depth_3_tit"><a href="#">사무실 외벽</a></li>
                        <li class="depth_3_tit"><a href="#">관공서 외벽</a></li>
                        <li class="depth_3_tit"><a href="#">공장 외벽</a></li>
                        <li class="depth_3_tit"><a href="#">외벽 시설물</a></li>

                    </ul>

                </li>

                
                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                     시설물 관리

                     <span class="arrow menu_arrow" aria-hidden="true"></span>

                    </a>

                    <ul class="depth_3">

                        <li class="depth_3_tit"><a href="#">동상/조형물</a></li>
                        <li class="depth_3_tit"><a href="#">교각</a></li>
                        <li class="depth_3_tit"><a href="#">녹 제거</a></li>
                        <li class="depth_3_tit"><a href="#">터널</a></li>

                    </ul>

                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                     미화원 파견
                     
                    </a>

                </li>
            
            
            </ul>

        </li>

        <!-- ------저수조 청소업------ -->

        <li class="main_menu">

            <a href="#" class="main_tit">

            저수조 청소업

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                    연못 청소

                    </a>


                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                        저수조 청소

                    </a>

                </li>

                </ul>

        </li>       
            
        <!-- ------소독업------ -->

        <li class="main_menu">

            <a href="#" class="main_tit">

            소독업

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                    소독

                    </a>


                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                        방역
                    </a>

                </li>

            
            
            </ul>

        </li>

        <!-- ------갤러리------ -->

        <li class="main_menu">

            <a href="#" class="main_tit">

            갤러리

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                    작업 갤러리

                    </a>

                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                    작업 동영상

                    </a>

                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                    행사사진
                   
                    </a>

                </li>
            
            </ul>

        </li>

        <!-- ------커뮤니티------ -->

        <li class="main_menu">

            <a href="#" class="main_tit">

            커뮤니티

            <span class="arrow menu_arrow" aria-hidden="true"></span>

            </a>

            <ul class="sub_menu">

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                    공지사항

                    </a>


                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                        작업일정

                    </a>

                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                   이벤트

                    </a>


                </li>


                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                   정보공유

                    </a>


                </li>
                
                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                   자주하는 질문

                    </a>


                </li>

                <li class="depth_2">

                    <a href="#" class="depth_2_tit">

                   이용후기

                    </a>


                </li>
            
            </ul>

        </li>

    </ul>

</nav>


        <!-- 메인 메뉴 끝  -->