

<section class="Request_Cleaning">

    
    <div class="box Cleaning_box_green">

        <div class="tit_Wrap Cleaning_tit_wrap ">

            <h2>전화 견적 문의</h2>
            <p>견적 자체는 무료로 진행되니 부담없이 상담 가능 합니다.<br>
            아래의 연락처로 연락을 주신다면 친철하게 응대해 드리겠습니다.</p>

        </div>
    
        <div class="Cleaning_box_in_wrap">            
        
            <div class="Cleaning_ul_wrap">

                <ul class="Cleaning_ul">

                    <li>
                        <p>김해본점</p> 
                        <p>055-337-8866</p>
                    </li>
                    <li>
                        <p>부산지점</p>
                        <p>055-364-0113</p>
                    </li>

                </ul>

                <ul class="Cleaning_ul">

                    <li>
                        <p>양산지점</p> 
                        <p>055-367-0116</p>
                    </li>

                    <li>
                        <p>창원지점</p> 
                        <p>055-267-0116</p>
                    </li>

                </ul>
                    
            </div>

            <span class="icon Cleaning_icon call_center"></span>

        </div>

    </div>

    <a href="" class="box Cleaning_box">

        <div class="tit_Wrap Cleaning_tit_wrap">

            <h2>전화 견적 문의</h2>
            <p>견적 자체는 무료로 진행되니 부담없이 상담 가능 합니다.<br>
            아래의 연락처로 연락을 주신다면 친철하게 응대해 드리겠습니다.</p>

        </div>

        <span class="icon Cleaning_icon_green contract"></span>

    </a>


</section>

