<div class="subpage_nav_list sub_category">

        <a class="subpage_nav_link" data-community-page="notice" href="/sub_page/Community/Notice.html">
            공지사항
        </a>

        <a class="subpage_nav_link" data-community-page="schedule" href="/sub_page/Community/Schedule.html">
            작업일정
        </a>

        <a class="subpage_nav_link" data-community-page="event" href="/sub_page/Community/Event.html">
            이벤트
        </a>

        <a class="subpage_nav_link" data-community-page="information" href="/sub_page/Community/Information.html">
            정보공유
        </a>

        <a class="subpage_nav_link" data-community-page="faq" href="/sub_page/Community/FAQ.html">
            자주하는 질문
        </a>

        <a class="subpage_nav_link" data-community-page="reviews" href="/sub_page/Community/Reviews.html">
            이용후기
        </a>

</div>
