 <nav class="sub_pag_gnb">
      
        <ul class="sub_pag_menu">

            <li class="sub_pag_depth">

                <a class="sub_pag_tit" href="/sub_page/Factory_cleane/Factory_man.html">

                    공장 청소

                </a>

            </li>

            <li class="sub_pag_depth">

                <a class="sub_pag_tit" href="">


                   기계 설비 청소

                </a>

            </li>  

            <li class="sub_pag_depth">

                <a class="sub_pag_tit" href="">

                    공장 설비 도색
                    
                </a>

            </li>
            
            <li class="sub_pag_depth">

                <a class="sub_pag_tit" href="">


                    공장 라인청소
                    
                </a>

            </li>       


            <li class="sub_pag_depth">

                <a class="sub_pag_tit" href="/sub_page/Factory_cleane/Factory_floor.html">

                    공장 바닥 청소
                    
                </a>

            </li>       


        </ul>

    </nav>