<nav class="company_tabs" aria-label="기업소개 하위 메뉴">

    <ul class="company_menu">

        <li data-company-group="intro">

            <a class="company_tit" href="/sub_page/Introduction/Introduction_main.html" aria-expanded="false">
                기업소개
                <span class="arrow company_arrow" aria-hidden="true"></span>
            </a>

            <ul class="company_drop">

                <li>
                    <a data-company-page="greeting" href="/sub_page/Introduction/CEO_message.html">
                        대표 인사말
                    </a>
                </li>

                <li>
                    <a data-company-page="location" href="/sub_page/Introduction/Directions.html">
                        찾아오시는 길
                    </a>
                </li>

            </ul>

        </li>

        <li  data-company-group="info">
            
            <a class="company_tit" href="/sub_page/Introduction/Company_history.html" aria-expanded="false">
                기업 정보
                <span class="arrow company_arrow" aria-hidden="true"></span>
            </a>

            <ul class="company_drop">

                <li>
                    <a data-company-page="history" href="/sub_page/Introduction/Company_history.html">
                        회사 연혁
                    </a>
                </li>

                <li>
                    <a data-company-page="branches" href="/sub_page/Introduction/Branches.html">
                        각 지점 정보
                    </a>
                </li>

            </ul>
        </li>

        <li data-company-group="license">
            
            <a class="company_tit" href="/sub_page/Introduction/Certificates.html" aria-expanded="false">
                허가 및 인증서
                <span class="arrow company_arrow" aria-hidden="true"></span>
            </a>

            <ul class="company_drop">

                <li>
                    <a data-company-page="certificates" href="/sub_page/Introduction/Certificates.html">
                        허가증 및 인증서
                    </a>
                </li>

                <li>
                    <a data-company-page="awards" href="/sub_page/Introduction/Awards.html">
                        수상내역
                    </a>
                </li>

                <li>
                    <a data-company-page="clients" href="/sub_page/Introduction/Clients.html">
                        협력 / 거래처
                    </a>
                </li>

            </ul>
        </li>

    </ul>

</nav>
