
<!-- ================================
     견적 문의
================================ -->

<section class="request_row">

    <div class="box Cleaning_box_green">

                    <!-- 모바일 전용 아이콘 -->
            <span
                class="icon Cleaning_mobile_icon phone_call"
                aria-hidden="true">
            </span>



        <div class="tit_wrap Cleaning_tit_wrap">

            <h2>전화 <span class="mobile_none">견적 </span>문의</h2>

            <p>
                견적 자체는 무료로 진행되니 부담없이 상담 가능합니다.<br>
                아래의 연락처로 연락을 주신다면 친절하게 응대해 드리겠습니다.
            </p>

        </div>


        <div class="Cleaning_box_in_wrap">

            

            <div class="Cleaning_ul_wrap">

                <ul class="Cleaning_ul">

                    <li>
                        <p>김해본점</p>
                        <a href="tel:0553378866">055-337-8866</a>
                    </li>

                    <li>
                        <p>부산지점</p>
                        <a href="tel:0513640113">051-364-0113</a>
                    </li>

                </ul>


                <ul class="Cleaning_ul">

                    <li>
                        <p>양산지점</p>
                        <a href="tel:0553670116">055-367-0116</a>
                    </li>

                    <li>
                        <p>창원지점</p>
                        <a href="tel:0552670119">055-267-0119</a>
                    </li>

                </ul>

            </div>



                <!-- PC / 태블릿 아이콘 -->
            <span
                class="icon Cleaning_icon call_center"
                aria-hidden="true">
            </span>


        </div>

    </div>



    <a href="/user_page/Online_application.html" class="box Cleaning_box">

        <div class="tit_wrap Cleaning_tit_wrap">

            <h2>온라인 견적<span class="mobile_none"> 문의</span></h2>

            <p>
                전화가 힘드신 경우 이곳으로 문의를 주시길 바랍니다.<br>
                청소 구역의 평수와 현장 사진 제공 시 보다 빠른 진행이 가능합니다.
            </p>

        </div>


        <span
            class="icon Cleaning_icon_green contract"
            aria-hidden="true">
        </span>

    </a>


</section>
